%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    %a.navbar-brand{href: root_path}
      %h2.text-warning Знаки ГТО
    %button.navbar-toggler{"aria-label" => "Toggle", "data-bs-target" => "#mob-navbar", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #mob-navbar.collapse.navbar-collapse
      %ul.navbar-nav.mb-2.mb-lg-0.mx-auto
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", href: root_path} Главная страница
        %li.nav-item
          %a.nav-link{href: "#"} О нас
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"} Служебное
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li
              %a.dropdown-item{href: rails_admin.dashboard_path} Редактор
            %li
              %a.dropdown-item{href: health_logs_path} Мониторинг
            %li
              %a.dropdown-item{href: "#"} Документация
            %li
              %hr.dropdown-divider/
            %li
              %a.dropdown-item{href: "#"} Дополнительно...
        %li.nav-item
          %a.nav-link{href: "#"} Свяжитесь с нами
      #new_session_form
        = render 'devise/sessions/new'
